header{
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-area: header;
    background-image: linear-gradient(to top, white,rgb(160, 160, 160) );
} 


