.mainCuenta{
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    .catalogoCuenta{
        display: flex;
        height: auto;
        width: 50vw;
        align-self: center;
        justify-self: center;
    }
    .datosRopa{
        height: 500px;
        width: 30vw;
        position: relative;
        left: 12rem;
        border-left: 1px rgba(0, 0, 0, 0.523) solid;
        align-items: flex-end;
        padding-top: 40px;
        ul{
            li{
                list-style: none;
                padding-bottom: 20px;
            }
        }
        h2{
            text-align: center;
        }
    }
}


