.descripcionMarca{
    margin-top: 20px;
    height: 200px;
    h1{
        text-align: center;
    }
}
$fondoM: (black coleccionSignos) (rgba(255, 0, 0, 0.877) coleccionHeartbreaker) (rgba(123, 203, 250, 0.788) coleccionElementos) (rgba(255, 72, 0, 0.911) coleccionFuego);
@each $color, $clase in $fondoM {
    .#{$clase}{
        background-color: $color;
        height: 150px;
        width: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }   
}