.mainIndex{
    margin:0%;
    grid-area: main; 
    padding: 20px 0;
}
.descripcion h1{
    text-align: center;
}
.descripcion{
    margin: auto;
}
.whatsappIcon{
    display: block;
    position: fixed;
    bottom: 50px; left: 90vw; 
}
.btn-primary{
    color: #212529;
    background-color: #fbc20794;
    border: none;
    
}
.btn-primary:hover{
    background-color: #fbc20794;
}
.barraCelu{
    display: none;
}
.logoMenu{
    width: 200px;
    height: 50px;
}