.footer {
  background: silver;
  background: -webkit-gradient(linear, left bottom, left top, from(silver), to(white));
  background: linear-gradient(0deg, silver 0%, white 100%);
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footer__visits--pleft {
  text-decoration: none;
}

.footer div a {
  text-decoration: none;
  padding: 15px;
}

.mainIndex {
  margin: 0%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 20px 0;
}

.descripcion h1 {
  text-align: center;
}

.descripcion {
  margin: auto;
}

.whatsappIcon {
  display: block;
  position: fixed;
  bottom: 50px;
  left: 90vw;
}

.btn-primary {
  color: #212529;
  background-color: #fbc20794;
  border: none;
}

.btn-primary:hover {
  background-color: #fbc20794;
}

.barraCelu {
  display: none;
}

.logoMenu {
  width: 200px;
  height: 50px;
}

#grilla {
  /* grilla aplicada en la pagina de Contacto*/
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "header" "main" "footer";
}

/*MIXIN PARA LAS PROPIEDADES DE LAS CARTILLAS*/
/*LISTA ANIDADA*/
/*EACH PARA LOS FONDOS*/
.instagram {
  background-color: rgba(128, 0, 128, 0.8);
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram img {
  width: 250px;
  height: 250px;
}

.instagram h2 a {
  color: white;
}

.whatsapp {
  background-color: #29a71a;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatsapp img {
  width: 250px;
  height: 250px;
}

.whatsapp h2 a {
  color: white;
}

.facebook {
  background-color: #3885d5;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facebook img {
  width: 250px;
  height: 250px;
}

.facebook h2 a {
  color: white;
}

.maps {
  height: 300px;
  width: auto;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.maps .mapsContacto {
  padding: 5px;
  text-align: center;
}

.maps .mapsContacto ul li {
  list-style: none;
}

.maps iframe {
  width: 600px;
  height: 300px;
  padding: 5px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  margin: 10px 10px 15px 10px;
  border: solid 1px rgba(128, 128, 128, 0.514);
  border-radius: 8px;
  -webkit-box-shadow: -15px 13px 15px rgba(0, 0, 0, 0.6);
          box-shadow: -15px 13px 15px rgba(0, 0, 0, 0.6);
}

.formulario .parrafoNew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px 0 10px 20px;
}

.formulario .parrafoNew img {
  position: relative;
  left: -45px;
}

.formulario .tituloMobi {
  display: none;
}

.formulario form {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.formulario form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulario ul li {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#foro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grillaForo {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "envios pagos" "exp exp";
  -ms-grid-rows: 50vh 50vh;
      grid-template-rows: 50vh 50vh;
  -ms-grid-columns: 50vw 50vw;
      grid-template-columns: 50vw 50vw;
}

.envios {
  margin: auto;
  padding: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: envios;
  text-align: center;
  border-radius: 8px;
  height: auto;
  width: 400px;
  -webkit-box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
          box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
  background: rgba(255, 217, 0, 0.608);
  /*background: linear-gradient(0deg, rgba(192,192,192,1) 37%, rgba(128,128,128,1) 100%);*/
}

.metodosdepago {
  margin: auto;
  padding: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: envios;
  text-align: center;
  border-radius: 8px;
  height: auto;
  width: 400px;
  -webkit-box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
          box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
  background: rgba(255, 217, 0, 0.608);
  /*background: linear-gradient(0deg, rgba(192,192,192,1) 37%, rgba(128,128,128,1) 100%);*/
}

.metodosdepago ul li {
  list-style: none;
}

.mainForo {
  margin: 40px 0 20px 0;
}

.mainForo h1 {
  text-align: center;
}

.experiencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.experiencias h2 {
  text-align: center;
  display: block;
}

.experiencias .expClientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 40px 0;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.experiencias .expClientes .comentarios1 {
  height: 175px;
  width: 350px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  -webkit-box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
          box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.experiencias .expClientes .comentarios1 .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.experiencias .expClientes .comentarios1 .perfil img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #dc3545;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.experiencias .expClientes .comentario2 {
  height: 175px;
  width: 350px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  -webkit-box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
          box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.experiencias .expClientes .comentario2 .perfil2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.experiencias .expClientes .comentario2 .perfil2 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #51dc35;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.experiencias .expClientes .comentario3 {
  height: 175px;
  width: 350px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  -webkit-box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
          box-shadow: -10px 10px 10px rgba(128, 128, 128, 0.5);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.experiencias .expClientes .comentario3 .perfil3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.experiencias .expClientes .comentario3 .perfil3 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #35c3dc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@-webkit-keyframes slidein {
  from {
    position: relative;
    left: 80vw;
  }
  to {
    position: relative;
    left: 0vw;
  }
}

@keyframes slidein {
  from {
    position: relative;
    left: 80vw;
  }
  to {
    position: relative;
    left: 0vw;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #dddddd;
  background: -webkit-gradient(linear, left top, right top, from(#dddddd), color-stop(50%, white), to(#dddddd));
  background: linear-gradient(90deg, #dddddd 0%, white 50%, #dddddd 100%);
}

.descripcionMarca {
  margin-top: 20px;
  height: 200px;
}

.descripcionMarca h1 {
  text-align: center;
}

.coleccionElementos {
  background-image: url("../img/fondoMarcaElementos.jpg");
  /* background-attachment: fixed;  scroll | fixed | inherit */
  background-size: contain;
  background-repeat: no-repeat;
}

.coleccionFuego {
  background-image: url("../img/fondoMarcaFuego.jpg");
  /* background-attachment: fixed;  scroll | fixed | inherit */
  background-size: contain;
  background-repeat: no-repeat;
}

.coleccionHeartbreaker {
  background-image: url("../img/fondoMarcaHearbreaker.jpg");
  /* background-attachment: fixed;  scroll | fixed | inherit */
  background-size: contain;
  background-repeat: no-repeat;
}

.coleccionSignos {
  background-image: url("../img/fondoMarcaSignos.png");
  /* background-attachment: fixed;  scroll | fixed | inherit */
  background-size: contain;
  background-repeat: no-repeat;
}

.coleccionSignos {
  background-color: #a98351;
  height: 300px;
  width: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
}

.coleccionHeartbreaker {
  background-color: white;
  height: 300px;
  width: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
}

.coleccionElementos {
  background-color: #5ce1e6;
  height: 300px;
  width: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
}

.coleccionFuego {
  background-color: black;
  height: 300px;
  width: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
}

.coleccionSignos {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.coleccionHeartbreaker {
  background-position-x: right;
  color: black;
}

.coleccionElementos {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.coleccionFuego {
  background-position-x: right;
}

.mainCuenta {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainCuenta .catalogoCuenta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 50vw;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.mainCuenta .datosRopa {
  height: 500px;
  width: 30vw;
  position: relative;
  left: 12rem;
  border-left: 1px rgba(0, 0, 0, 0.523) solid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
}

.mainCuenta .datosRopa ul li {
  list-style: none;
  padding-bottom: 20px;
}

.mainCuenta .datosRopa h2 {
  text-align: center;
}

.descripcionProducto {
  /* display: none cuando se vea en dispositivos sm agregar mediaquerie */
  height: 600px;
  width: auto;
  margin: 30px 0 0 10px;
  background: #e9e9e9;
}

.descripcionProducto h2 {
  margin-top: 5px;
  text-align: center;
  border: 1px rgba(128, 128, 128, 0.671) solid;
  border-radius: 8px;
  background-color: rgba(255, 217, 0, 0.726);
}

.descripcionProducto ul li {
  list-style: square;
  text-align: left;
  padding-bottom: 10px;
}

.catalogo {
  margin: 30px 0 0 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 425px) {
  .navegacion {
    display: none;
  }
  .miniMenu {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    display: inline;
    margin: 20px;
  }
  .miniMenu ul li {
    list-style: none;
  }
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: auto;
  }
  .redes {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .instagram {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .instagram img {
    height: 100px;
    width: 100px;
  }
  .facebook {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .facebook img {
    height: 100px;
    width: 100px;
  }
  .whatsapp {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whatsapp img {
    height: 100px;
    width: 100px;
  }
  #marca {
    height: auto;
    text-align: center;
  }
  .grillaForo {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "envios" "pagos" "exp";
    -ms-grid-rows: 50vh 50vh 50vh 50vh;
        grid-template-rows: 50vh 50vh 50vh 50vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    margin-top: 30px;
  }
  .envios {
    margin: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: envios;
    text-align: center;
    border-radius: 8px;
    height: auto;
    width: auto;
    margin: 18px;
    -webkit-box-shadow: -10px 10px 10px grey;
            box-shadow: -10px 10px 10px grey;
    background: silver;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(37%, silver), to(gray));
    background: linear-gradient(0deg, silver 37%, gray 100%);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .metodosdepago {
    margin: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: envios;
    text-align: center;
    border-radius: 8px;
    height: auto;
    width: auto;
    margin: 18px;
    -webkit-box-shadow: -10px 10px 10px grey;
            box-shadow: -10px 10px 10px grey;
    background: silver;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(37%, silver), to(gray));
    background: linear-gradient(0deg, silver 37%, gray 100%);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .whatsappIcon {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 80vw;
  }
  .barraBuscadora {
    display: none;
  }
  .barraNormal {
    display: none;
  }
  .barraCelu {
    display: inline;
  }
  .logoMenu {
    height: 30px;
    width: 120px;
  }
  .parrafoNew {
    display: none;
  }
  .parrafoNew img {
    display: none;
  }
  .maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .maps .mapsContacto {
    margin: auto;
  }
  .maps .mapsContacto img {
    display: none;
  }
  .maps iframe {
    height: 150px;
    width: auto;
  }
  .formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formulario .tituloMobi {
    display: inline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto;
    text-align: center;
  }
  .formulario .form {
    display: inline;
  }
  .descripcionProducto {
    display: none;
  }
  .mainCuenta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .mainCuenta .catalogoCuenta {
    height: auto;
    width: 90vw;
  }
  .mainCuenta .datosRopa {
    height: 300px;
    width: 90vw;
    border: 0;
    position: relative;
    left: -10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
  }
}
/*# sourceMappingURL=style-sass.css.map */